{% extends 'list/base.html' %}
{% block content %}


<main>
    <!-- Badge -->
    <div class="container">
        <hr/>
        {% for badge in badges %}
        {{ badge.html|safe }}
        {% endfor %}
        <hr/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <!-- Circle Chart -->
                <canvas id="myChart2" height="280"></canvas>
                <script>
                    var ctx = document.getElementById('myChart2').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: {{ total_labels|safe }},
                            datasets: [{
                                label: 'Total',
                                data: {{ total_counts|safe }},
                                backgroundColor: [
                                    'rgba(0, 200, 81, 1)',
                                    'rgba(255, 70, 70, 1)',
                                    'rgba(200, 200, 200, 1)',
                                ],
                                fill: false,
                            }]
                        },
                        options: {
                            responsive: true
                        }
                    });
                </script>
            </div>

            <div class="col-lg-8 col-md-8">
                <!-- Line Chart -->
                <canvas id="myChart"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ labels|safe }},
                            datasets: [{
                                label: 'Solved Quiz',
                                data: {{ counts|safe }},
                            backgroundColor: [
                              'rgba(64,224,208, .2)'
                            ],
                            borderColor: [
                              'rgba(0,206,209, .7)',
                            ],
                            borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        precision: 0
                                    }
                                }]
                            },
                            responsive: true
                        }
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-12">
            <ul class="stepper stepper-vertical">
                {% for quiz in quizzes %}
                {% if quiz.visible %}
                {% if quiz.right == 1 %}
                <li>{% endif %}
                    {% if quiz.right == -1 %}
                <li class="warning">{% endif %}
                    {% if quiz.right == 0 %}
                <li class="completed">{% endif %}
                    <a href="/{{ quiz.order }}">
                        <span class="circle">{{ quiz.order }}</span>
                        <span class="label step-title waves-effect waves-dark">{{ quiz.title|linebreaksbr }}</span>
                    </a>

                    <div class="step-content lighten-3">
                        {% if quiz.question %}
                        <pre><code>{{ quiz.question }}</code></pre>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- Today's question -->
    <div class="container">
        <div class="row text-left">
            <a href="/{{ today_quiz.order }}" class="blue-text">
                <h5>
                    <i class="fas fa-chess"></i>
                    <strong>Today's Question</strong>
                </h5>
            </a>
        </div>
        <br/>
    </div>

    {% include "list/quiz.html" %}


    <div class="container">
        <hr/>
        <section>

            <div class="row text-left">
                <!-- Level 1 -->
                <div class="col-lg-6 col-md-12">

                    <div class="news-data">
                        <a href="" class="pink-text">
                            <h5>
                                <i class="fab fa-pagelines"></i>
                                <strong>{{ difficulties.0.name }}</strong>
                            </h5>
                        </a>
                    </div>
                    <p> {{ difficulties.0.desc }}
                    </p>

                    <hr>

                    {% for category in level1 %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="view overlay rounded z-depth-1">
                                {% if category.image == None %}
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/{{ forloop.counter }}.jpg"
                                     class="img-fluid" alt="Minor sample post image">
                                {% else %}
                                <img src="{{ category.image }}" class="img-fluid" alt="Minor sample post image">
                                {% endif %}
                                <a href="/category/{{ category.name }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <p class="dark-grey-text">
                                <strong>{{ category.name }}</strong>
                                {% if category.total_quiz == 0 %}
                                <span class="badge badge-pill badge-danger ml-2">Coming</span>
                                {% elif category.unsolved_quiz == 0 %}
                                <span class="badge badge-pill badge-success ml-2"><span
                                        class="oi oi-check"></span></span>
                                {% else %}
                                <span class="badge badge-pill badge-secondary ml-2">{{ category.unsolved_quiz }}</span>
                                {% endif %}
                            </p>
                            <a href="/category/{{ category.name }}" class="pink-text">
                                {{ category.desc }}
                                {% if category.total_quiz > 0 %}
                                <i class="fas fa-angle-right float-right"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}
                </div>


                <!-- Level 2 -->
                <div class="col-lg-6 col-md-12">

                    <div class="news-data">
                        <a href="" class="yellow-text">
                            <h5>
                                <i class="fas fa-sun"></i>
                                <strong>{{ difficulties.1.name }}</strong>
                            </h5>
                        </a>
                    </div>
                    <p> {{ difficulties.1.desc }}
                    </p>

                    <hr>

                    {% for category in level2 %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="view overlay rounded z-depth-1">
                                {% if category.image == None %}
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/{{ forloop.counter|add:10 }}.jpg"
                                     class="img-fluid" alt="Minor sample post image">
                                {% else %}
                                <img src="{{ category.image }}" class="img-fluid" alt="Minor sample post image">
                                {% endif %}
                                <a href="/category/{{ category.name }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <p class="dark-grey-text">
                                <strong>{{ category.name }}</strong>
                                {% if category.total_quiz == 0 %}
                                <span class="badge badge-pill badge-danger ml-2">Coming</span>
                                {% elif category.unsolved_quiz == 0 %}
                                <span class="badge badge-pill badge-success ml-2"><span
                                        class="oi oi-check"></span></span>
                                {% else %}
                                <span class="badge badge-pill badge-secondary ml-2">{{ category.unsolved_quiz }}</span>
                                {% endif %}
                            </p>
                            <a href="/category/{{ category.name }}" class="brown-text">
                                {{ category.desc }}
                                {% if category.total_quiz > 0 %}
                                <i class="fas fa-angle-right float-right"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}
                </div>

            </div>


        </section>

        <hr/>

        <section>
            <div class="row text-left">
                <!-- Level 3 -->
                <div class="col-lg-6 col-md-12">

                    <div class="news-data">
                        <a href="" class="orange-text">
                            <h5>
                                <i class="fas fa-cannabis"></i>
                                <strong>{{ difficulties.2.name }}</strong>
                            </h5>
                        </a>
                    </div>
                    <p> {{ difficulties.2.desc }}
                    </p>

                    <hr>

                    {% for category in level3 %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="view overlay rounded z-depth-1">
                                {% if category.image == None %}
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/{{ forloop.counter|add:20 }}.jpg"
                                     class="img-fluid" alt="Minor sample post image">
                                {% else %}
                                <img src="{{ category.image }}" class="img-fluid" alt="Minor sample post image">
                                {% endif %}
                                <a href="/category/{{ category.name }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <p class="dark-grey-text">
                                <strong>{{ category.name }}</strong>
                                {% if category.total_quiz == 0 %}
                                <span class="badge badge-pill badge-danger ml-2">Coming</span>
                                {% elif category.unsolved_quiz == 0 %}
                                <span class="badge badge-pill badge-success ml-2"><span
                                        class="oi oi-check"></span></span>
                                {% else %}
                                <span class="badge badge-pill badge-secondary ml-2">{{ category.unsolved_quiz }}</span>
                                {% endif %}
                            </p>
                            <a href="/category/{{ category.name }}" class="orange-text">
                                {{ category.desc }}
                                {% if category.total_quiz > 0 %}
                                <i class="fas fa-angle-right float-right"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}
                </div>


                <!-- Level 4 -->
                <div class="col-lg-6 col-md-12">

                    <div class="news-data">
                        <a href="" class="light-blue-text">
                            <h5>
                                <i class="far fa-snowflake"></i>
                                <strong>{{ difficulties.3.name }}</strong>
                            </h5>
                        </a>
                    </div>
                    <p> {{ difficulties.3.desc }}
                    </p>

                    <hr>

                    {% for category in level4 %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="view overlay rounded z-depth-1">
                                {% if category.image == None %}
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/{{ forloop.counter|add:30 }}.jpg"
                                     class="img-fluid" alt="Minor sample post image">
                                {% else %}
                                <img src="{{ category.image }}" class="img-fluid" alt="Minor sample post image">
                                {% endif %}
                                <a href="/category/{{ category.name }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-9">
                            <p class="dark-grey-text">
                                <strong>{{ category.name }}</strong>
                                {% if category.total_quiz == 0 %}
                                <span class="badge badge-pill badge-danger ml-2">Coming</span>
                                {% elif category.unsolved_quiz == 0 %}
                                <span class="badge badge-pill badge-success ml-2"><span
                                        class="oi oi-check"></span></span>
                                {% else %}
                                <span class="badge badge-pill badge-secondary ml-2">{{ category.unsolved_quiz }}</span>
                                {% endif %}
                            </p>
                            <a href="/category/{{ category.name }}" class="light-blue-text">
                                {{ category.desc }}
                                {% if category.total_quiz > 0 %}
                                <i class="fas fa-angle-right float-right"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}
                </div>

                <hr/>

                <!-- Level 5 -->
                <div class="col-lg-6 col-md-12">

                    <div class="news-data">
                        <a href="" class="purple-text">
                            <h5>
                                <i class="far fa-thumbs-up"></i>
                                <strong>{{ difficulties.4.name }}</strong>
                            </h5>
                        </a>
                    </div>
                    <p> {{ difficulties.4.desc }}
                    </p>

                    <hr>

                    {% for category in level5 %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="view overlay rounded z-depth-1">
                                {% if category.image == None %}
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/{{ forloop.counter|add:30 }}.jpg"
                                     class="img-fluid" alt="Minor sample post image">
                                {% else %}
                                <img src="{{ category.image }}" class="img-fluid" alt="Minor sample post image">
                                {% endif %}
                                <a href="/category/{{ category.name }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-9">
                            <p class="dark-grey-text">
                                <strong>{{ category.name }}</strong>
                                {% if category.total_quiz == 0 %}
                                <span class="badge badge-pill badge-danger ml-2">Coming</span>
                                {% elif category.unsolved_quiz == 0 %}
                                <span class="badge badge-pill badge-success ml-2"><span
                                        class="oi oi-check"></span></span>
                                {% else %}
                                <span class="badge badge-pill badge-secondary ml-2">{{ category.unsolved_quiz }}</span>
                                {% endif %}
                            </p>
                            <a href="/category/{{ category.name }}" class="purple-text">
                                {{ category.desc }}
                                {% if category.total_quiz > 0 %}
                                <i class="fas fa-angle-right float-right"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}
                </div>

            </div>

        </section>


    </div>
</main>
{% endblock %}

