{% extends 'list/base.html' %}
{% load static %}

{% block content %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-4.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["Badge"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>


<main>
    <!-- Badge -->
    <div class="container">
        {% for badge in badges %}
        {{ badge.html|safe }}
        {% endfor %}
        <br/>
    </div>

</main>
{% endblock %}

