{% extends 'list/base.html' %}
{% load static %}

{% block content %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-4.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["Badges"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>


<!-- Badge -->
<section>
    <div class="container">
        <div class="row">
            {% for badge in my_badges %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <button type="button" class="card card-sm card-body flex-row align-items-center hover-shadow-3d" data-toggle="tooltip" data-placement="top" title="{{ badge.desc }}">
                    {{ badge.html|safe }}
                </button>
            </div>
            {% endfor %}
            {% for badge in gray_badges %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <button type="button" class="card card-sm card-body flex-row align-items-center hover-shadow-3d" data-toggle="tooltip" data-placement="top" title="{{ badge.desc }}">
                    {{ badge.gray_html|safe }}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

