{% extends 'list/base.html' %}
{% block content %}
{% load static %}


{% if username %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-1.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["Hi, {{ username }}", "Welcome to python world"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>

<section class="bg-primary-alt has-divider">
    <!-- Counter -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-primary d-block" data-countup data-start="0" data-end="{{ total_quiz }}"
                      data-duration="3" data-grouping="true"></span>
                <span class="h6">Total Quiz</span>
            </div>
            {% if accepted_quiz %}
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-success d-block" data-countup data-start="0" data-end="{{ accepted_quiz }}"
                      data-duration="3" data-grouping="true"></span>
                <span class="h6">Accepted</span>
            </div>
            {% endif %}

            {% if wrong_quiz %}
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-primary-2 d-block" data-countup data-start="0" data-end="{{ wrong_quiz }}"
                      data-duration="3" data-grouping="true"></span>
                <span class="h6">Wrong</span>
            </div>
            {% endif %}

            {% if not_try_quiz %}
            <div class="col-6 mb-3 col-lg-3 mb-lg-0">
                <span class="display-4 text-secondary d-block" data-countup data-start="0" data-end="{{ not_try_quiz }}"
                      data-duration="3" data-grouping="true"></span>
                <span class="h6">Not Try</span>
            </div>
            {% endif %}
        </div>

        <br/>
        <canvas id="myChart"></canvas>
        <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: {{ labels|safe }},
                                datasets: [{
                                    label: 'Quizzes',
                                    data: {{ counts|safe }},
                                backgroundColor: [
                                  'rgba(64,224,208, .2)'
                                ],
                                borderColor: [
                                  'rgba(0,206,209, .7)',
                                ],
                                borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            precision: 0
                                        }
                                    }]
                                },
                                responsive: true
                            }
                        });


        </script>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-1.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>

<!-- Today's Quiz -->
<section class="has-divider">
    {% include "list/quiz.html" %}
    <div class="divider">
        <img class="bg-primary-3" src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>

{% else %}
<section>
    <div class="container">
        <div class="row justify-content-center text-center mb-6">
            <div class="col-xl-8 col-lg-9 col-md-10">
                <h1 class="display-4">Welcome to Python world</h1>
                <p class="lead">Kids are our future.</p>
                <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start mt-5">
                    <div class="d-flex flex-column mx-1 text-center">
                        <a href="/signup" class="btn btn-lg btn-primary mb-2">
                            <img class="icon" src="{% static 'assets/img/icons/theme/general/user.svg' %}"
                                 alt="user icon" data-inject-svg/>
                            <span>Create account ></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
                <div class="rounded bg-primary-3 p-4 text-light text-monospace shadow layer-2">
                    <div>
                        <span>>>> </span>
                        <span data-typed-text data-type-speed="80" data-strings='["print(\"hello world\")"]'
                              data-loop="true" data-back-delay="2000"></span>
                    </div>
                </div>
                <div class="decoration bottom right" data-aos="fade-up">
                    <img class="bg-primary-2" src="{% static 'assets/img/decorations/deco-blob-2.svg' %}"
                         alt="deco-blob-2 decoration" data-inject-svg/>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- New Video -->
<section class="has-divider bg-primary-alt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <span class="badge badge-light">
                    <img class="icon bg-danger" src="{% static 'assets/img/icons/social/youtube.svg' %}" alt="youtube icon" data-inject-svg/>
                    NEW VIDEO
                </span>
                <h1 class="font-title"><a href="/quiz/{{ quiz.title_url }}">{{ quiz.title }}</a></h1>
                <div class="rounded o-hidden">
                    <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="{{ quiz.video }}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-3" src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>
{% endif %}

<!-- Level 0 -->
<section class="has-divider bg-primary-3">
    <div class="container" id="{{ difficulties.0.name_url }}">
        <div class="row mb-4 text-light">
            <div class="col">
                <h3 class="h3">{{ difficulties.0.name }}</h3>
                <h5 class="h5">{{ difficulties.0.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level1 %}
                <a href="/category/{{ category.name_url }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'list/img/lock-red-done.svg' %}"
                             alt="done icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-red-lock.svg' %}"
                             alt="lock icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-red-unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz == 0 %}
                            <div class="text-small">
                                <span class="d-block text-success">COMPLETED</span>
                            </div>
                            {% else %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="divider graphic" data-inject-svg/>
    </div>
</section>


<!-- Level 1 -->
<section class="has-divider">
    <div class="container" id="{{ difficulties.1.name_url }}">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">{{ difficulties.1.name }}</h3>
                <h5 class="h5">{{ difficulties.1.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level2 %}
                <a href="/category/{{ category.name_url }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'list/img/lock-pink-done.svg' %}"
                             alt="done icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-pink-lock.svg' %}"
                             alt="lock icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-pink-unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz == 0 %}
                            <div class="text-small">
                                <span class="d-block text-success">COMPLETED</span>
                            </div>
                            {% else %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-alt" src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>


<!-- Level 2 -->
<section class="has-divider bg-primary-alt">
    <div class="container" id="{{ difficulties.2.name_url }}">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">{{ difficulties.2.name }}</h3>
                <h5 class="h5">{{ difficulties.2.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level3 %}
                <a href="/category/{{ category.name_url }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'list/img/lock-green-done.svg' %}"
                             alt="done icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-green-lock.svg' %}"
                             alt="lock icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-green-unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz == 0 %}
                            <div class="text-small">
                                <span class="d-block text-success">COMPLETED</span>
                            </div>
                            {% else %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-3" src="{% static 'assets/img/dividers/divider-1.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>


<!-- Level 3 -->
<section class="has-divider bg-primary-3">
    <div class="container" id="{{ difficulties.3.name_url }}">
        <div class="row mb-4 text-light">
            <div class="col">
                <h3 class="h3">{{ difficulties.3.name }}</h3>
                <h5 class="h5">{{ difficulties.3.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level4 %}
                <a href="/category/{{ category.name_url }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'list/img/lock-orange-done.svg' %}"
                             alt="done icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-orange-lock.svg' %}"
                             alt="lock icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-orange-unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz == 0 %}
                            <div class="text-small">
                                <span class="d-block text-success">COMPLETED</span>
                            </div>
                            {% else %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="divider graphic" data-inject-svg/>
    </div>
</section>


<!-- Level 4 -->
<section>
    <div class="container" id="{{ difficulties.4.name_url }}">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">{{ difficulties.4.name }}</h3>
                <h5 class="h5">{{ difficulties.4.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level5 %}
                <a href="/category/{{ category.name_url }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'list/img/lock-blue-done.svg' %}"
                             alt="done icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-blue-lock.svg' %}"
                             alt="lock icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'list/img/lock-blue-unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz == 0 %}
                            <div class="text-small">
                                <span class="d-block text-success">COMPLETED</span>
                            </div>
                            {% else %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% if daily_check_in %}
<div class="modal hide" id="daily-check-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-success border-0">
            <div class="modal-body">
                <div class="m-3 d-flex align-items-center">
                    <div class="icon-round icon-round-lg mx-md-4">
                        <img src="{% static 'list/img/point.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>

                    <div class="ml-3">
                        <h5 class="mb-1"><b>Daily Check-In</b></h5>
                        <span>You got +1 point.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#daily-check-in-modal").modal('show');
});

</script>
{% endif %}
{% endblock %}



