{% extends 'list/base.html' %}
{% load static %}

{% block content %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-4.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["Hi, {{ username }}", "{{ category }}"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/#{{ difficulty.name_url }}">{{ difficulty.name }}</a></li>
                    </ol>
                </nav>

                <h2 class="h1 mt-3 mb-4">{{ category }}</h2>

                {% for quiz in quizzes %}
                <a href="/quiz/{{ quiz.title_url }}" class="card card-body hover-shadow-sm">
                    {% if quiz.right == 1 %}
                    <h4 class="mb-2 text-success">
                    {% elif quiz.right < 0 %}
                    <h4 class="mb-2 text-danger">
                    {% else %}
                    <h4 class="mb-2">
                    {% endif %}
                        {% if quiz.video %}
                        <img class="icon icon-lg bg-danger" src="{% static 'assets/img/icons/social/youtube.svg' %}"
                             style="width: 40px" alt="youtube icon" data-inject-svg/>
                        {% endif %}

                        {{ quiz.title | linebreaksbr }}
                    </h4>
                    {{ quiz.question|safe }}
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge bg-primary-alt text-primary">
                            <img class="icon bg-primary" src="{% static 'assets/img/icons/interface/heart.svg' %}"
                                 alt="heart interface icon"
                                 data-inject-svg/>{{ quiz.score }}
                        </span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

