{% extends 'list/base.html' %}
{% block content %}
{% load static %}


{% if username %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-1.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["Hi, {{ username }}", "Welcome to python world"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>

<!-- Badge -->
<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">My badges</h3>
            </div>
        </div>
        <div class="row">
            {% for badge in badges %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <button type="button" class="card card-sm card-body flex-row align-items-center hover-shadow-3d"
                        data-toggle="tooltip" data-placement="top" title="{{ badge.desc }}">
                    {{ badge.html|safe }}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Counter -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mb-3 col-lg-3 mb-lg-0">
            <span class="display-4 text-primary d-block" data-countup data-start="0" data-end="{{ total_quiz }}"
                  data-duration="3" data-grouping="true"></span>
            <span class="h6">Total Quiz</span>
        </div>
        {% if accepted_quiz %}
        <div class="col-6 mb-3 col-lg-3 mb-lg-0">
            <span class="display-4 text-success d-block" data-countup data-start="0" data-end="{{ accepted_quiz }}"
                  data-duration="3" data-grouping="true"></span>
            <span class="h6">Accepted</span>
        </div>
        {% endif %}

        {% if wrong_quiz %}
        <div class="col-6 mb-3 col-lg-3 mb-lg-0">
            <span class="display-4 text-primary-2 d-block" data-countup data-start="0" data-end="{{ wrong_quiz }}"
                  data-duration="3" data-grouping="true"></span>
            <span class="h6">Wrong</span>
        </div>
        {% endif %}

        {% if not_try_quiz %}
        <div class="col-6 mb-3 col-lg-3 mb-lg-0">
            <span class="display-4 text-secondary d-block" data-countup data-start="0" data-end="{{ not_try_quiz }}"
                  data-duration="3" data-grouping="true"></span>
            <span class="h6">Not Try</span>
        </div>
        {% endif %}
    </div>
</div>
<br/>


<!-- Line Chart -->
<div class="container">
    <canvas id="myChart"></canvas>
    <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ labels|safe }},
                            datasets: [{
                                label: 'Solved Quiz',
                                data: {{ counts|safe }},
                            backgroundColor: [
                              'rgba(64,224,208, .2)'
                            ],
                            borderColor: [
                              'rgba(0,206,209, .7)',
                            ],
                            borderWidth: 2
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        precision: 0
                                    }
                                }]
                            },
                            responsive: true
                        }
                    });

    </script>
</div>
{% else %}
<section class="bg-primary text-light o-hidden">
    <div class="container">
        <div class="row align-items-center min-vh-50">
            <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
                <h3 class="display-3">Welcome to Python World</h3>
                <a href="/signup" class="btn btn-lg btn-primary-2">Create account > </a>
            </div>
            <div class="col-lg-6 text-center" data-aos="fade-left">
                <img src="{% static 'assets/img/saas-sketch-1.svg' %}" alt="Image" class="min-vw-60">
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Today's Quiz -->
<section class="has-divider bg-primary-alt">
    {% include "list/quiz.html" %}
    <div class="divider">
        <img class="bg-primary-3" src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>

<!-- Level 0 -->
<section class="has-divider bg-primary-3">
    <div class="container" id="{{ difficulties.0.name }}">
        <div class="row mb-4 text-light">
            <div class="col">
                <h3 class="h3">{{ difficulties.0.name }}</h3>
                <h5 class="h5">{{ difficulties.0.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level1 %}
                <a href="/category/{{ category.name }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'assets/img/icons/theme/files/folder-check.svg' %}"
                             alt="folder-check icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/code/lock-overturning.svg' %}"
                             alt="lock-circle icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/general/unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz > 0 %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="divider graphic" data-inject-svg/>
    </div>
</section>


<!-- Level 1 -->
<section class="has-divider">
    <div class="container" id="{{ difficulties.1.name }}">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">{{ difficulties.1.name }}</h3>
                <h5 class="h5">{{ difficulties.1.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level2 %}
                <a href="/category/{{ category.name }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'assets/img/icons/theme/files/folder-check.svg' %}"
                             alt="folder-check icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/code/lock-overturning.svg' %}"
                             alt="lock-circle icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/general/unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz > 0 %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-alt" src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>


<!-- Level 2 -->
<section class="has-divider bg-primary-alt">
    <div class="container" id="{{ difficulties.2.name }}">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">{{ difficulties.2.name }}</h3>
                <h5 class="h5">{{ difficulties.2.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level3 %}
                <a href="/category/{{ category.name }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    {% if category.unsolved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon" src="{% static 'assets/img/icons/theme/files/folder-check.svg' %}"
                             alt="folder-check icon" data-inject-svg/>
                    </div>
                    {% elif category.solved_quiz == 0 %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/code/lock-overturning.svg' %}"
                             alt="lock-circle icon" data-inject-svg/>
                    </div>
                    {% else %}
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/general/unlock.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>
                    {% endif %}
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz > 0 %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-3" src="{% static 'assets/img/dividers/divider-1.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>


<!-- Level 3 -->
<section class="has-divider bg-primary-3">
    <div class="container" id="{{ difficulties.3.name }}">
        <div class="row mb-4 text-light">
            <div class="col">
                <h3 class="h3">{{ difficulties.3.name }}</h3>
                <h5 class="h5">{{ difficulties.3.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level4 %}
                <a href="/category/{{ category.name }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        {% if category.unsolved_quiz == 0 %}
                        <div class="icon-round icon-round-lg bg-primary mx-md-4">
                            <img class="icon" src="{% static 'assets/img/icons/theme/files/folder-check.svg' %}"
                                 alt="folder-check icon" data-inject-svg/>
                        </div>
                        {% elif category.solved_quiz == 0 %}
                        <div class="icon-round icon-round-lg bg-primary mx-md-4">
                            <img class="icon icon-lg bg-primary"
                                 src="{% static 'assets/img/icons/theme/code/lock-overturning.svg' %}"
                                 alt="lock-circle icon" data-inject-svg/>
                        </div>
                        {% else %}
                        <div class="icon-round icon-round-lg bg-primary mx-md-4">
                            <img class="icon icon-lg bg-primary"
                                 src="{% static 'assets/img/icons/theme/general/unlock.svg' %}" alt="unlock icon"
                                 data-inject-svg/>
                        </div>
                        {% endif %}
                    </div>
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz > 0 %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="divider graphic" data-inject-svg/>
    </div>
</section>


<!-- Level 4 -->
<section>
    <div class="container" id="{{ difficulties.4.name }}">
        <div class="row mb-4">
            <div class="col">
                <h3 class="h3">{{ difficulties.4.name }}</h3>
                <h5 class="h5">{{ difficulties.4.desc }}</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {% for category in level5 %}
                <a href="/category/{{ category.name }}"
                   class="card card-body flex-row align-items-center hover-shadow-sm">
                    <div class="icon-round icon-round-lg bg-primary mx-md-4">
                        {% if category.unsolved_quiz == 0 %}
                        <div class="icon-round icon-round-lg bg-primary mx-md-4">
                            <img class="icon" src="{% static 'assets/img/icons/theme/files/folder-check.svg' %}"
                                 alt="folder-check icon" data-inject-svg/>
                        </div>
                        {% elif category.solved_quiz == 0 %}
                        <div class="icon-round icon-round-lg bg-primary mx-md-4">
                            <img class="icon icon-lg bg-primary"
                                 src="{% static 'assets/img/icons/theme/code/lock-overturning.svg' %}"
                                 alt="lock-circle icon" data-inject-svg/>
                        </div>
                        {% else %}
                        <div class="icon-round icon-round-lg bg-primary mx-md-4">
                            <img class="icon icon-lg bg-primary"
                                 src="{% static 'assets/img/icons/theme/general/unlock.svg' %}" alt="unlock icon"
                                 data-inject-svg/>
                        </div>
                        {% endif %}
                    </div>
                    <div class="pl-4">
                        <h4 class="mb-2">{{ category.name }}</h4>
                        <span>{{ category.desc }} </span>
                        <div class="d-flex align-items-center mt-3">
                            {% if category.unsolved_quiz > 0 %}
                            <div class="text-small">
                                <span class="d-block">{{ category.unsolved_quiz }} Quizzes</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% if daily_check_in %}
<div class="modal hide" id="daily-check-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-success border-0">
            <div class="modal-body">
                <div class="m-3 d-flex align-items-center">
                    <div class="icon-round icon-round-lg bg-warning mx-md-4">
                        <img class="icon icon-lg bg-primary"
                             src="{% static 'assets/img/icons/theme/shopping/dollar.svg' %}" alt="unlock icon"
                             data-inject-svg/>
                    </div>

                    <div class="ml-3">
                        <h5 class="mb-1"><b>Daily Check-In</b></h5>
                        <span>You got +1 point.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#daily-check-in-modal").modal('show');
});
</script>
{% endif %}
{% endblock %}



