{% extends 'list/base.html' %}

{% block content %}


<main>
    <div class="container">
        <section class="mt-5 wow fadeIn">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th scope="col" colspan="2"><b>DAYEON</b></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" style="width: 20%">Solved Question</th>
                    <td><span class="badge badge-pill badge-success">{{ right }} / {{ total_quiz }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Progress</th>
                    <td>
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ right_percent }}%"
                                 aria-valuenow="{{ right_percent }}" aria-valuemin="0" aria-valuemax="100">{{ right }}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>

    <div class="container">
        <div class="row mt-1">
            <div class="col-md-12">
                <ul class="stepper stepper-vertical">
                    {% for quiz in quizs %}
                    {% if quiz.visible %}
                    {% if quiz.right == 1 %}
                    <li>{% endif %}
                        {% if quiz.right == -1 %}
                    <li class="warning">{% endif %}
                        {% if quiz.right == 0 %}
                    <li class="completed">{% endif %}
                        <a href="/{{ quiz.order }}">
                            <span class="circle">{{ quiz.order }}</span>
                            <span class="label step-title waves-effect waves-dark">{{ quiz.title|linebreaksbr }}</span>
                        </a>

                        <div class="step-content lighten-3">
                            {% if quiz.question %}
                            <pre><code>{{ quiz.question }}</code></pre>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}

