{% load static %}
<html>
    <head>
        <title>Python 4 kid</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        {% for quiz in quizs %}
            <div>
                <p>{{ quiz.id }}. {{ quiz.question|linebreaksbr }}</p>
                <p>{{ quiz.answer|linebreaksbr }}</p>
                <form action="/{{quiz.id}}/" method="POST" class="post-form">{% csrf_token %}
                    <input id="answer" type="text" name="answer">
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        {% endfor %}
    </body>
</html>
