{% extends 'list/base.html' %}

{% block content %}


<main>
    <div class="container">
        <section class="mt-5 wow fadeIn">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th scope="col" colspan="2"><b>DAYEON</b></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" style="width: 20%">Global Ranking</th>
                    <td><span class="badge badge-pill badge-success">1</span></td>
                </tr>
                <tr>
                    <th scope="row">Solved Question</th>
                    <td><span class="badge badge-pill badge-success">{{ right }} / {{ total_quiz }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Wrong Answer</th>
                    <td><span class="badge badge-pill badge-danger">{{ wrong }}</span></td>
                </tr>
                <tr>
                    <th scope="row">Progress</th>
                    <td>
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ right_percent }}%"
                                 aria-valuenow="{{ right_percent }}" aria-valuemin="0" aria-valuemax="100">{{ right }}
                            </div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ wrong_percent }}%"
                                 aria-valuenow="{{ wrong_percent }}" aria-valuemin="0" aria-valuemax="100">{{ wrong }}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>

    <!-- TODO -->
    <!--{% if quiz.right == 1 %}-->
    <!--<span class="oi oi-check text-success" title="oi-check" aria-hidden="true"></span>-->
    <!--{% elif quiz.right == -1 %}-->
    <!--<span class="oi oi-question-mark text-danger"></span>-->
    <!--{% endif %}-->


    <div class="container">
        <div class="row mt-1">
            <div class="col-md-12">
                <ul class="stepper stepper-vertical">
                    {% for quiz in quizs %}
                    {% if quiz.visible %}
                    <li class="completed">
                        <a href="/{{ quiz.id }}">
                            <span class="circle">{{ quiz.id }}</span>
                            <span class="label step-title waves-effect waves-dark">{{ quiz.question|linebreaksbr }}</span>
                        </a>

                        <div class="step-content lighten-3">
                            {% if quiz.example %}
                            <pre><code>{{ quiz.example }}</code></pre>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="warning">
                        <a href="#!">
                            <span class="circle"> !! </span>
                            <span class="label">You have reached the end.</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}

