{% extends 'list/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h4>Error testcase</h4>
    <h5>Missed testcases</h5>
    {% for quiz in error_quizzes %}
    {% include "list/quiz.html" %}
    <a href="/admin/list/quiz/{{ quiz.id }}/change/" class="btn btn-primary btn-sm active" role="button"
       aria-pressed="true"
       target="_blank">Quiz</a>
    {% endfor %}
</div>
<hr/>

{% for quiz in quizzes %}
{% include "list/quiz.html" %}
{% if quiz.quiz_type.name == "MultipleChoice" %}
<div class="container">
    <p></p>
    <p>1. {{ quiz.option1 }}</p>
    <p>2. {{ quiz.option2 }}</p>
    <p>3. {{ quiz.option3 }}</p>
    <p>4. {{ quiz.option4 }}</p>
</div>
{% endif %}
<div class="container">
    <a href="/admin/list/quiz/{{ quiz.id }}/change/" class="btn btn-primary btn-sm active" role="button"
       aria-pressed="true" target="_blank">Quiz</a>
</div>

<div class="container">
    <hr/>
    <div class="row">
        <div class="col-md-3">
            Modify
        </div>
        <div class="col-md-3">
            Input (Right)
        </div>
        <div class="col-md-3">
            Output
        </div>
        <div class="col-md-3">
            Stdout
        </div>
    </div>
    {% for testcase in testcases %}
    {% if quiz == testcase.quiz %}
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <a href="/admin/list/testcase/{{ testcase.id }}/change/" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" target="_blank">Testcase</a>
        </div>
        <div class="col-md-3">
            {{ testcase.input | linebreaksbr }}
        </div>
        <div class="col-md-3">
            {{ testcase.expected_output | linebreaksbr }}
        </div>
        <div class="col-md-3">
            {{ testcase.expected_stdout | linebreaksbr }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <hr/>

    {% for answer in answers %}
    {% if quiz == answer.quiz %}
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <a href="/admin/list/answer/{{ answer.id }}/change/" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" target="_blank">Answer</a>
        </div>
        <div class="col-md-3">
            {{ answer.customuser }} ({{ answer.right }})
        </div>
        <div class="col-md-3">
            <pre>{{ answer.answer | linebreaksbr }}</pre>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <hr/>
</div>


{% endfor %}

{% endblock %}

