{% extends 'list/base.html' %}
{% load static %}

{% block content %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-10.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["Playground"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>

<div class="container">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row" style="width: 10%">Output:</th>
            <td id="output">{{ stdout|linebreaksbr }}</span></td>
        </tr>
        </tbody>
    </table>
    <div id="editor">{{ code }}</div>
    <form id="playground" class="text-center">
        {%csrf_token %}
        <textarea name="answer" style="display: none;">{{ code }}</textarea>

        {% if username %}
        <button id="submit" class="btn btn-primary btn-block" type="submit">Submit</button>
        {% endif %}
    </form>
    {% if username == "" %}
    <button id="show-signin-toast" class="btn btn-primary btn-block">Submit</button>
    <div aria-live="polite" aria-atomic="true"
         style="position: fixed; top: 80px; right: 20px; min-height: 200px; width: 100%">
        <div style="position: absolute; top: 0; right: 0;">
            <div id="signin-toast" class="toast" role="alert" data-delay="5000">
                <div class="toast-header">
                    <img src="{% static 'list/img/logo.png' %}" class="avatar mr-2 avatar-sm"
                         alt="PyPyKids">
                    <strong class="mr-auto">PyPyKids</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Please sign in first before sumbitting the code.
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br/>
</div>

<!-- Modal -->
<div class="modal fade" id="output-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-success border-0">
            <div class="modal-body">
                <div class="m-3 d-flex align-items-center">
                    <img src="{% static 'list/img/logo.png' %}" alt="Avatar" class="avatar avatar-lg">
                    <div class="ml-3">
                        <h5 class="mb-1"><b>Output</b></h5>
                        <span id="output-in-modal"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Code editor
var editor = ace.edit("editor");
editor.setTheme("ace/theme/katzenmilch");
document.getElementById('editor').style.fontSize='18px';
document.getElementById("editor").style.height = "400px";
editor.session.setMode("ace/mode/python");

var textarea = $('textarea[name="answer"]');
editor.getSession().on("change", function () {
    textarea.val(editor.getSession().getValue());
});


// modal for non-login user.
$(function(){
    $('#show-signin-toast').on("click", function () {
        $('#signin-toast').toast('show');
    });

    // Check answer for Playground
    $('#playground').submit(function(event) {
        event.preventDefault();
        $('#submit').html('<div class="spinner-border" role="status"></div>')
        $.ajax({
            type: 'POST',
            url: '/playground/',
            dataType: 'json',
            data: $('#playground').serialize(),
            success: function (data, textStatus) {
                response = JSON.parse(data);
                $('#submit').html('Submit')
                $('#output-in-modal').html(response['output'].replace(/\n/g, "<br\>"))
                $('#output-modal').modal('show')
                $('#output').html(response['output'].replace(/\n/g, "<br\>"));
                $('#output').hide();
                $('#output').fadeIn("slow");
            },
            error: function(xhr, status, e) {
            }
        });
    });
});
</script>
{% endblock %}
