{% extends 'list/base.html' %}
{% load static %}

{% block content %}

<div class="container animsition">
    <form class="text-center border border-light p-5" action="/playground/run/" method="POST">
        {%csrf_token %}
        <p class="h4 mb-4">Playground</p>
        {% if code != "" %}
        <table class="table">
            <tbody>
            <tr>
                <th scope="row" style="width: 20%">Output:</th>
                <td>{{ stdout|linebreaksbr }}</span></td>
            </tr>
            </tbody>
        </table>
        {% endif %}
        <div class="form-group">
            <textarea class="form-control rounded-0" id="answer" name="code" rows="10" autofocus>{{ code }}</textarea>
        </div>

        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Test</button>
    </form>
</div>
{% endblock %}
