<div class="container">
    <div class="card">
        <div class="card-body">
            {% if quiz.explanation %}
            <p class="card-text">
                {{ quiz.explanation | safe }}
            </p>
            {% endif %}

            {% if quiz.video %}
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Modal: Name-->
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Body-->
                                <div class="modal-body mb-0 p-0">

                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                        <iframe class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/{{ quiz.video }}"
                                                allowfullscreen></iframe>
                                    </div>

                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <span class="mr-4">Data Type 1</span>
                                    <a type="button" class="btn-floating btn-sm btn-fb"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <!--Twitter-->
                                    <a type="button" class="btn-floating btn-sm btn-tw"><i
                                            class="fab fa-twitter"></i></a>
                                    <!--Google +-->
                                    <a type="button" class="btn-floating btn-sm btn-gplus"><i
                                            class="fab fa-google-plus-g"></i></a>
                                    <!--Linkedin-->
                                    <a type="button" class="btn-floating btn-sm btn-ins"><i
                                            class="fab fa-linkedin-in"></i></a>

                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                            data-dismiss="modal">Close
                                    </button>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: Name-->

                    <a><img class="img-fluid z-depth-1" src="https://img.youtube.com/vi/{{ quiz.video }}/0.jpg"
                            alt="video"
                            data-toggle="modal" data-target="#modal1"></a>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            {% endif %}


            <hr>

            <h6 class="font-weight-bold light-blue-text"><i class="fas fa-chess"></i>
                <a href="/{{ quiz.order }}">
                {{ quiz.order }}. {{ quiz.title|linebreaksbr }}
                </a>
            </h6>
            {{ quiz.question|safe}}

            {% if quiz.example %}
            <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">
            <hr/>
            {{ quiz.example | safe }}
            </p>
            {% endif %}

        </div>
    </div>
</div>
