{% load static %}
<br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
            <img src="{% static 'assets/img/saas-sketch-3.svg' %}"
                 alt="teach interface icon" data-inject-svg/>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/#{{ difficulty.name_url }}">{{ difficulty.name }}</a></li>
                        <li class="breadcrumb-item"><a href="/category/{{ category.name_url }}">{{ category.name }}</a></li>
                    </ol>
                </nav>
                <span class="badge bg-primary-alt text-success">
            <img class="icon bg-success" src="{% static 'assets/img/icons/theme/general/heart.svg' %}"
                 alt="heart interface icon"
                 data-inject-svg/> {{ quiz.score }}</span>
            </div>
            <h1 class="font-title"><a href="/quiz/{{ quiz.title_url }}">{{ quiz.title }}</a></h1>
        </div>
    </div>

    <div class="row justify-content-center position-relative">
        <div class="col-lg-10 col-xl-8">
            {% if quiz.video %}
            <div class="rounded o-hidden">
                <div class="plyr" data-plyr-provider="youtube" data-plyr-embed-id="{{ quiz.video }}"></div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
            <article class="article">
                <p>
                    {% if quiz.explanation %}
                    {{ quiz.explanation|safe }}
                    {% endif %}
                </p>
                <br/>
                <img class="icon" src="{% static 'assets/img/icons/theme/code/question-circle.svg' %}" alt="decoration"
                     data-inject-svg/> <b>Quiz</b>
                <hr/>
                <p>
                    {{ quiz.question|safe }}
                </p>
                {{ quiz.example|safe }}
            </article>
        </div>
    </div>

    {% if quiz.hint %}
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
            <article class="article">
                <div class="border-bottom pb-3 mb-3">
                    <div data-target="#hint" class="accordion-panel-title" data-toggle="collapse" role="button"
                         aria-expanded="false" aria-controls="hint">
                        <span class="h6 mb-0">
                            <img class="icon" src="{% static 'assets/img/icons/theme/home/bulb-1.svg' %}" alt="decoration"
                             data-inject-svg/>
                            Hint</span>
                        <img class="icon" src="{% static 'assets/img/icons/interface/plus.svg' %}"
                             alt="plus interface icon" data-inject-svg/>
                    </div>
                    <div class="collapse" id="hint">
                        <div class="pt-3">
                            <p class="mb-0">
                                {{ quiz.hint|safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    {% endif %}
</div>

