{% extends 'list/base.html' %}
{% load static %}

{% block content %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-1.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8 font-title">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["{{ quiz.title }}"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>

{% include "list/quiz.html" %}

<section class="has-divider">
    <div class="container pt-3">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div id="right-alert" class="alert alert-success" role="alert" {% if answer is None or answer.right < 0 %} style="display: none;" {% endif %}>
                    <b>Accepted</b>
                </div>
                <div id="wrong-alert" class="alert alert-danger" role="alert" {% if answer is None or answer.right > 0 %} style="display: none;" {% endif %}>
                    <b>Wrong Answer</b>
                </div>
                <div id="info-alert" class="alert alert-info" role="alert" {% if answer is not None %} style="display: none;" {% endif %}>
                    Your Answer
                </div>

                {% if quiz.quiz_type.name == "Code" %}
                <table id="wrong-table" class="table" {% if answer is None or answer.right == 1 %} style="display: none;" {% endif %}>
                    <tbody>
                    {% if answer.testcase != "" %}
                    <tr>
                        <th scope="row" style="width: 20%">Input:</th>
                        <td id="testcase">{{ answer.testcase|linebreaksbr }}</td>
                    </tr>
                    {% endif %}
                    {% if answer.stdout != "" %}
                    <tr>
                        <th scope="row">stdout:</th>
                        <td id="stdout">{{ answer.stdout|linebreaksbr }}</span></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Output:</th>
                        <td id="output">{{ answer.output|linebreaksbr }}</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Expected:</th>
                        <td id="expected_output">{{ answer.expected_output }}</span></td>
                    </tr>
                    </tbody>
                </table>

                {% if answer.submitted_at %}
                <p class="text-muted">Submitted at {{ answer.submitted_at }}</p>
                {% endif %}

                <div id="editor">{{ user_answer }}</div>

                <form id="editor_code" class="text-center">
                    {%csrf_token %}
                    <textarea name="answer" style="display: none;">{{ user_answer }}</textarea>
                    {% if username %}
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    {% endif %}
                </form>
                {% elif quiz.quiz_type.name == "Answer" %}
                <form id="editor_answer" class="text-center">
                    {%csrf_token %}
                    {% if answer.submitted_at %}
                    <p class="text-muted">Submitted at {{ answer.submitted_at }}</p>
                    {% endif %}

                    <div class="form-group">
                        <textarea class="form-control" id="answer" name="answer" rows="10">{{ user_answer }}</textarea>
                    </div>

                    <!-- Send button -->
                    {% if username %}
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    {% endif %}
                </form>
                {% elif quiz.quiz_type.name == "MultipleChoice" %}
                <form id = "editor_multiple" class="p-3">
                    {% csrf_token %}
                    {% if quiz.option1 != None %}
                    <div class="custom-control custom-radio">
                        {% if user_answer == "" or user_answer == "1" %}
                        <input class="custom-control-input" name="answer" type="radio" value="1" id="radio1" checked>
                        {% else %}
                        <input class="custom-control-input" name="answer" type="radio" value="1" id="radio1">
                        {% endif %}
                        <label class="custom-control-label" for="radio1">
                            <pre><code>{{ quiz.option1|safe }}</code></pre>
                        </label>
                    </div>
                    {% endif %}
                    {% if quiz.option2 != None %}
                    <div class="custom-control custom-radio">
                        {% if user_answer == "2" %}
                        <input class="custom-control-input" name="answer" type="radio" value="2" id="radio2" checked>
                        {% else %}
                        <input class="custom-control-input" name="answer" type="radio" value="2" id="radio2">
                        {% endif %}
                        <label class="custom-control-label" for="radio2">
                            <pre><code>{{ quiz.option2|safe }}</code></pre>
                        </label>
                    </div>
                    {% endif %}
                    {% if quiz.option3 != None %}
                    <div class="custom-control custom-radio">
                        {% if user_answer == "3" %}
                        <input class="custom-control-input" name="answer" type="radio" value="3" id="radio3" checked>
                        {% else %}
                        <input class="custom-control-input" name="answer" type="radio" value="3" id="radio3">
                        {% endif %}
                        <label class="custom-control-label" for="radio3">
                            <pre><code>{{ quiz.option3|safe }}</code></pre>
                        </label>
                    </div>
                    {% endif %}
                    {% if quiz.option4 != None %}
                    <div class="custom-control custom-radio">
                        {% if user_answer == "4" %}
                        <input class="custom-control-input" name="answer" type="radio" value="4" id="radio4" checked>
                        {% else %}
                        <input class="custom-control-input" name="answer" type="radio" value="4" id="radio4">
                        {% endif %}
                        <label class="custom-control-label" for="radio4">
                            <pre><code>{{ quiz.option4|safe }}</code></pre>
                        </label>
                    </div>
                    {% endif %}
                    <br/>
                    {% if username %}
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                    {% endif %}
                </form>
                {% endif %}

                {% if username == "" %}
                <button id="show-signin-toast" class="btn btn-primary btn-block">Submit</button>
                <div aria-live="polite" aria-atomic="true"
                     style="position: fixed; top: 80px; right: 20px; min-height: 200px; width: 100%">
                    <div style="position: absolute; top: 0; right: 0;">
                        <div id="signin-toast" class="toast" role="alert" data-delay="5000">
                            <div class="toast-header">
                                <img src="{% static 'list/img/logo.png' %}" class="avatar mr-2 avatar-sm"
                                     alt="PyPyKids">
                                <strong class="mr-auto">PyPyKids</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                Please sign in first before sumbitting the code.
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="quiz-like" class="pt-4 pb-3 text-center" {% if answer.right != 1 or clicked %} style="display: none;" {% endif %}>
            <h6>Do you like this quiz?</h6>
            <div class="d-flex justify-content-center mb-2">
                <a href="#" id="quiz-like-yes" class="btn btn-outline-primary mx-1">
                    <img class="icon bg-primary" src="{% static 'assets/img/icons/theme/general/like.svg' %}"
                         alt="check interface icon"
                         data-inject-svg/>
                    <span>Like</span>
                </a>
                <a href="#" id="quiz-like-no" class="btn btn-outline-primary mx-1">
                    <img class="icon bg-primary" src="{% static 'assets/img/icons/interface/cross.svg' %}"
                         alt="cross interface icon"
                         data-inject-svg/>
                    <span>Dislike</span>
                </a>
            </div>
        </div>
    </div>

    <div class="divider">
        <img class="bg-primary-alt" src="{% static 'assets/img/dividers/divider-3.svg' %}" alt="divider graphic" data-inject-svg/>
    </div>
</section>


{% if next %}
<section class="bg-primary-alt">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h3 class="h2">Next Quiz</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <a href="/quiz/{{ next.title_url }}" class="card card-body hover-shadow-sm">
                    <h4 class="mb-2">{{ next.title|safe }}</h4>
                    <span>{{ next.question|safe }}</span>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge bg-primary-alt text-primary">
                            <img class="icon bg-primary" src="{% static 'assets/img/icons/interface/heart.svg' %}"
                                 alt="heart interface icon" data-inject-svg/>{{ next.score }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-success border-0">
            <div class="modal-body">
                <div class="m-3 d-flex align-items-center">
                    <img src="{% static 'list/img/logo.png' %}" alt="Avatar" class="avatar avatar-lg">
                    <div class="ml-3">
                        <h5 class="mb-1"><b>Accepted</b></h5>
                        <span>You are awesome !!!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wrong-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog text-light" role="document">
        <div class="modal-content bg-danger border-0">
            <div class="modal-body">
                <div class="m-3 d-flex align-items-center">
                    <img src="{% static 'list/img/logo.png' %}" alt="Avatar" class="avatar avatar-lg">
                    <div class="ml-3">
                        <h5 class="mb-1"><b>Wrong Answer</b></h5>
                        <span>Could you try again?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="badge-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="icon bg-dark" src="{% static 'assets/img/icons/interface/cross.svg' %}"
                         alt="cross interface icon"
                         data-inject-svg/>
                </button>
                <div class="m-xl-4 m-3">
                    <div id="badge-icon" class="bg-primary mx-auto mb-4">
                    </div>
                    <div class="text-center mb-4">
                        <h4 id="badge-desc" class="h4"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Code editor
{% if quiz.quiz_type.name == "Code" %}
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/katzenmilch");
    document.getElementById('editor').style.fontSize='18px';
    document.getElementById("editor").style.height = "400px";
    editor.session.setMode("ace/mode/python");

    var textarea = $('textarea[name="answer"]');
    editor.getSession().on("change", function () {
        textarea.val(editor.getSession().getValue());
    });
{% endif %}


$(function(){
    // Modal for non-login user to login first.
    $('#show-signin-toast').on("click", function () {
        $('#signin-toast').toast('show');
    });

    // Check answer for Code
    $('#editor_code').submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/answer/{{ quiz.order }}/',
            dataType: 'json',
            data: $('#editor_code').serialize(),
            success: function (data, textStatus) {
                response = JSON.parse(data)
                if (response['right'] == 1) {
                    $('#right-alert').slideDown("slow");
                    $('#wrong-alert').hide();
                    $('#info-alert').hide();
                    $('#wrong-table').hide();
                    $('#quiz-like').show(1000);
                    $('#animated-accepted').addClass('animated zoomIn');
                    $('#success-modal').modal('show')
                    setTimeout(function() { $('#success-modal').modal('hide');}, 3000);

                    i = 0
                    response['new_badges'].forEach(function(element) {
                        i = i + 1
                        $('#badge-icon').html(element['icon'])
                        $('#badge-desc').html(element['desc'])
                        setTimeout(function() { $('#badge-modal').modal('show');}, 3000 * i);
                        setTimeout(function() { $('#badge-modal').modal('hide');}, 3000 * i + 2000);
                    });
                } else if (response['right'] == -1 || response['right'] == -2) {
                    $('#right-alert').hide();
                    $('#wrong-alert').slideDown("slow");
                    $('#info-alert').hide();
                    $('#wrong-table').slideDown("slow");
                    $('#testcase').html(response['testcase'].replace(/\n/g, "<br\>"));
                    $('#stdout').html(response['stdout'].replace(/\n/g, "<br\>"));
                    $('#output').html(response['output'].replace(/\n/g, "<br\>"));
                    $('#expected_output').html(response['expected_output'].replace(/\n/g, "<br\>"));
                    $('#animated-wrong').addClass('animated zoomIn');
                    $('#wrong-modal').modal('show');
                    setTimeout(function() { $('#wrong-modal').modal('hide');}, 2000);
                }
            },
            error: function(xhr, status, e) {
            }
        });
    });

    $('#editor_answer').submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/answer/{{ quiz.order }}/',
            dataType: 'json',
            data: $('#editor_answer').serialize(),
            success: function (data, textStatus) {
                response = JSON.parse(data);
                if (response['right'] == 1) {
                    $('#right-alert').slideDown("slow");
                    $('#wrong-alert').hide();
                    $('#info-alert').hide();
                    $('#quiz-like').show(1000);
                    $('#animated-accepted').addClass('animated zoomIn');
                    $('#success-modal').modal('show');
                    setTimeout(function() { $('#success-modal').modal('hide');}, 3000);

                    i = 0
                    response['new_badges'].forEach(function(element) {
                        i = i + 1;
                        $('#badge-icon').html(element['icon']);
                        $('#badge-desc').html(element['desc']);
                        setTimeout(function() { $('#badge-modal').modal('show');}, 3000 * i);
                        setTimeout(function() { $('#badge-modal').modal('hide');}, 3000 * i + 2000);
                    });
                } else if (response['right'] == -1 || response['right'] == -2) {
                    $('#right-alert').hide();
                    $('#wrong-alert').slideDown("slow");
                    $('#info-alert').hide();
                    $('#animated-wrong').addClass('animated zoomIn');
                    $('#wrong-modal').modal('show');
                    setTimeout(function() { $('#wrong-modal').modal('hide');}, 2000);
                }
            },
            error: function(xhr, status, e) {
            }
        });
    });

    $('#editor_multiple').submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/answer/{{ quiz.order }}/',
            dataType: 'json',
            data: $('#editor_multiple').serialize(),
            success: function (data, textStatus) {
                response = JSON.parse(data);
                if (response['right'] == 1) {
                    $('#right-alert').slideDown("slow");
                    $('#wrong-alert').hide();
                    $('#info-alert').hide();
                    $('#quiz-like').show(1000);
                    $('#animated-accepted').addClass('animated zoomIn');
                    $('#success-modal').modal('show');
                    setTimeout(function() { $('#success-modal').modal('hide');}, 3000);

                    i = 0
                    response['new_badges'].forEach(function(element) {
                        i = i + 1;
                        $('#badge-icon').html(element['icon']);
                        $('#badge-desc').html(element['desc']);
                        setTimeout(function() { $('#badge-modal').modal('show');}, 3000 * i);
                        setTimeout(function() { $('#badge-modal').modal('hide');}, 3000 * i + 2000);
                    });
                } else if (response['right'] == -1 || response['right'] == -2) {
                    $('#right-alert').hide();
                    $('#wrong-alert').slideDown("slow");
                    $('#info-alert').hide();
                    $('#animated-wrong').addClass('animated zoomIn');
                    $('#wrong-modal').modal('show');
                    setTimeout(function() { $('#wrong-modal').modal('hide');}, 2000);
                }
            },
            error: function(xhr, status, e) {
            }
        });
    });

    $('#quiz-like-yes').click(function(event) {
    event.preventDefault();
    $.ajax({
            type: 'GET',
            url: '/quiz/{{ quiz.order }}/score/1',
            success: function (data, textStatus) {
                $('#quiz-like').hide(1000);
            },
            error: function(xhr, status, e) {
            }
        });
    });

    $('#quiz-like-no').click(function(event) {
    event.preventDefault();
    $.ajax({
            type: 'GET',
            url: '/quiz/{{ quiz.order }}/score/0',
            success: function (data, textStatus) {
                $('#quiz-like').hide(1000);
            },
            error: function(xhr, status, e) {
            }
        });
    });
});


</script>

{% endblock %}

