{% extends 'list/base.html' %}
{% load static %}

{% block content %}
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2"
         data-overlay>
    <img src="{% static 'assets/img/inner-2.jpg' %}" alt="Image" class="jarallax-img opacity-40">
    <div class="container py-0">
        <div class="row my-4 my-md-6" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8 font-title">
                <h1><span data-typed-text data-loop="true" data-type-speed="65"
                          data-strings='["{{ quiz.title }}"]'></span></h1>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="graphical divider" data-inject-svg/>
    </div>
</section>

{% if quiz.visible %}
{% include "list/quiz.html" %}

<div class="container">
    {% if quiz.quiz_type.name == "Code" or quiz.quiz_type.name == "Answer" %}
    <form class="text-center border border-light p-5" action="/answer/{{quiz.order}}/" method="POST">
        {%csrf_token %}
        {% if right == 1 %}
        <div class="alert alert-success" role="alert">
            <b>Accepted</b>
        </div>
        {% elif right < 0 %}
        <div class="alert alert-danger" role="alert">
            <b>Wrong Answer</b>
        </div>
        {% if quiz.quiz_type.name == "Code" %}
        <table class="table">
            <tbody>
            <tr>
                <th scope="row" style="width: 20%">Input:</th>
                <td>{{ testcase }}</td>
            </tr>
            {% if stdout != "" %}
            <tr>
                <th scope="row">stdout:</th>
                <td>{{ stdout }}</span></td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Output:</th>
                <td>{{ output|linebreaksbr }}</span></td>
            </tr>
            <tr>
                <th scope="row">Expected:</th>
                <td>{{ expected_answer }}</span></td>
            </tr>
            </tbody>
        </table>
        <hr/>
        {% endif %}
        {% else %}
        <p class="h4 mb-4">Your answer</p>
        {% endif %}

        {% if submitted_at %}
        <p class="text-muted">Submitted at {{ submitted_at }}</p>
        {% endif %}

        <div class="form-group">
            <textarea class="form-control" id="answer" name="answer" rows="10">{{ user_answer }}</textarea>
        </div>

        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Submit</button>
    </form>

    {% elif quiz.quiz_type.name == "MultipleChoice" %}
    <form class="border border-light p-5" action="/answer/{{quiz.order}}/" method="POST">
        {% csrf_token %}
        {% if right == 1 %}
        <div class="alert alert-success" role="alert">
            <b>Accepted</b>
        </div>
        {% elif right < 0 %}
        <div class="alert alert-danger" role="alert">
            <b>Wrong Answer</b>
        </div>
        {% endif %}
        {% if quiz.option1 != None %}
        <div class="custom-control custom-radio">
            {% if user_answer == "" or user_answer == "1" %}
            <input class="custom-control-input" name="answer" type="radio" value="1" id="radio1" checked>
            {% else %}
            <input class="custom-control-input" name="answer" type="radio" value="1" id="radio1">
            {% endif %}
            <label class="custom-control-label" for="radio1">
                <pre><code>{{ quiz.option1|safe }}</code></pre>
            </label>
        </div>
        {% endif %}
        {% if quiz.option2 != None %}
        <div class="custom-control custom-radio">
            {% if user_answer == "2" %}
            <input class="custom-control-input" name="answer" type="radio" value="2" id="radio2" checked>
            {% else %}
            <input class="custom-control-input" name="answer" type="radio" value="2" id="radio2">
            {% endif %}
            <label class="custom-control-label" for="radio2">
                <pre><code>{{ quiz.option2|safe }}</code></pre>
            </label>
        </div>
        {% endif %}
        {% if quiz.option3 != None %}
        <div class="custom-control custom-radio">
            {% if user_answer == "3" %}
            <input class="custom-control-input" name="answer" type="radio" value="3" id="radio3" checked>
            {% else %}
            <input class="custom-control-input" name="answer" type="radio" value="3" id="radio3">
            {% endif %}
            <label class="custom-control-label" for="radio3">
                <pre><code>{{ quiz.option3|safe }}</code></pre>
            </label>
        </div>
        {% endif %}
        {% if quiz.option4 != None %}
        <div class="custom-control custom-radio">
            {% if user_answer == "4" %}
            <input class="custom-control-input" name="answer" type="radio" value="4" id="radio4" checked>
            {% else %}
            <input class="custom-control-input" name="answer" type="radio" value="4" id="radio4">
            {% endif %}
            <label class="custom-control-label" for="radio4">
                <pre><code>{{ quiz.option4|safe }}</code></pre>
            </label>
        </div>
        {% endif %}
        <br/>
        <button class="btn btn-info btn-block" type="submit">Submit</button>
    </form>
    {% endif %}
</div>
{% endif %}


<!-- Modal: Accepted -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="modalLabel1"><b>Accepted</b></h5>
            </div>
            <div class="modal-body">
                <img src="{% static 'list/Congratulations.png' %}" id="animated-accepted" width="470">
            </div>
        </div>
    </div>
</div>

<!-- Modal: Wrong Answer -->
<div class="modal fade" id="wrongModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-wrong text-danger" id="modalLabel2"><b>Wrong Answer</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{% static 'list/Wrong.png' %}" id="animated-wrong" width="470">
            </div>
        </div>
    </div>
</div>


<!-- Frame Modal Bottom -->
<div class="modal fade top" id="badgeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel3"
     aria-hidden="true">

    <div class="modal-dialog modal-frame modal-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ new_badge.name }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">
                    {{ new_badge.html|safe }} {{ new_badge.desc }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Frame Modal Bottom -->

<script>
    // modal animation
    {% if right_modal == "1" %}
        $('#animated-accepted').addClass('animated zoomIn');
        $('#successModal').modal('show');
        setTimeout(function() { $('#successModal').modal('hide');}, 2000);
    {% elif right_modal == "-1" or right_modal == "-2" %}
        $('#animated-wrong').addClass('animated zoomIn');
        $('#wrongModal').modal('show');
        setTimeout(function() { $('#wrongModal').modal('hide');}, 2000);
    {% endif %}

    {% if new_badge != None %}
        $('#badgeModal').modal('show');
    {% endif %}



</script>
{% endblock %}

