{% extends 'list/base.html' %}
{% block content %}
{% load static %}


<section class="bg-primary-3 has-divider text-light o-hidden">
    <div class="container layer-2">
        <div class="row justify-content-center pt-lg-5">
            <div class="col-xl-5 col-lg-6 col-md-7 text-center text-lg-left mb-5 mb-lg-0">
                <h1 class="display-3">Learn how to code python</h1>
            </div>
            <div class="col">
                <br/>
                <br/>
                <div class="row justify-content-center">
                    <h3>Welcome to PyPyKids</h3>
                    <a href="/signup" class="btn btn-primary ml-lg-3"> Create Account > </a>
                </div>
            </div>
        </div>
    </div>
    <div class="decoration-wrapper d-none d-sm-block">
        <div data-jarallax-element="0 50">
            <div class="decoration top middle-y scale-5">
                <img class="bg-primary-2" src="{% static 'assets/img/decorations/deco-blob-9.svg' %}"
                     alt="deco-blob-9 decoration"
                     data-inject-svg/>
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="bg-primary-alt" src="{% static 'assets/img/dividers/divider-2.svg' %}" alt="divider graphic"
             data-inject-svg/>
    </div>
</section>

{% endblock %}

